@model crm_system.Models.Warehouse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4 class="mt-5"> Warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.warehouse_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warehouse_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warehouse_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warehouse_location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.warehouse_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
