@model crm_system.Models.Product_Management

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4 class="mt-5">Product_Management</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buying_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buying_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.selling_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.selling_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Category.prod_category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Category.prod_category_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
