@model crm_system.Models.Proposal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4 class="mt-5">Proposal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.attachment_file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attachment_file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propposal_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propposal_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proposal_detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proposal_detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.customer_full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customer_full_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.proposal_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
