@model IEnumerable<crm_system.Models.Product_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-title clearfix mt-5">
    <h3 class="float-left "><strong>Category</strong></h3>
    <span class="float-left">Product-management</span>
    <!-- BEGIN ADD BUTTON -->
    <a role="button" href="/Product_Category/Create" class="btn btn-md float-right d-md-block d-lg-block d-sm-none d-none" id="btn-add">Add Category<i class="fa fa-plus" id="add-icon"></i></a>
    <a role="button" href="/Product_Category/Create" class="btn btn-lg btn-block d-sm-block d-md-none d-lg-none" id="btn-add">Add Category<i class="fa fa-plus" id="add-icon"></i></a>
    <!-- BEGIN ADD BUTTON -->
</div>


<div class="table table-responsive d-sm-table d-md-table d-lg-table d-xl-table rounded mt-5">
    <table class="table table-bordered table-hover" id="table">
        <thead id="table-title">
            <tr>
                <th colspan="3"><i class="fa fa-briefcase" id="table-icon"></i>Category List</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <p>#</p>
                </th>
                <th>
                    <p>Category Name</p>
                </th>
                <th>
                    <p>Action</p>
                </th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_category_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_category_name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.prod_category_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.prod_category_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.prod_category_id })
                </td>
            </tr>
            }



        </tbody>
    </table>
</div>
